* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  background-color: rgb(255, 255, 255);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  height: 6%;
  padding: 8px 15px 3px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

ul li {
  padding: 0 10px;
  cursor: pointer;
}

ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  cursor: default;
}

ul a:hover {
  text-decoration: underline;
}

.nav-right {
  margin: 0 7px 0 0;
}
.nav-right a {
  color: black;
  font-weight: bold;
  padding: 0 5px;
  cursor: pointer;
}

.nav-right button {
  color: white;
  background-color: black;
  padding: 5px 8px;
  border-radius: 5px;
}

.hero h1 {
  color: #121212;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 55px;
  line-height: 72px;
  margin-left: 15%;
  max-width: 900px;
}

.hero {
  margin-top: 7%;
}

.hero img {
  margin: 30px 10% 0;
}

.hero p {
  width: 80%;
  margin: 0 10%;
  font-size: 18px;
}

.hero span {
  color: #555454;
}

.dennis h4 {
  font-size: 20px;
  padding: 15px 0;
}

.dennis h4 a {
  color: black;
}

.dennis {
  width: 50%;
  margin: 20px 28%;
}

.share {
  margin: 20px 0;
}

.share ul {
  float: right;
}

.share ul li {
  display: inline;
  font-size: 24px;
  padding: 10px;
}

.share p {
  float: left;
  color: #464545;
}

.social {
  background-color: #e2e2e2;
  border-radius: 50%;
}

.container {
  clear: both;
  display: flex;
}

.main-paragraph {
  margin-top: 30px;
  max-width: 650px;
}

.main-paragraph p {
  font-size: 1.2rem;
  line-height: 2rem;
  justify-content: center;
  margin: 10px 0;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.grid-section {
  max-width: 70%;
  margin: 0 auto;
}
.grid-header p {
  color: rgb(109, 106, 106);
  font-size: small;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 2%;
}

.grid div img {
  max-width: 100%;
  height: 200px;
  margin: 0;
}

.grid div p span {
  font-weight: bold;
}

.grid-footer {
  margin: 4% 0;
}

.grid-footer hr {
  max-width: 6%;
  border: 0.5px solid black;
  margin: 1% 0;
}

.grid-footer p {
  color: rgb(41, 41, 41);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.dennis-continue {
  width: 50%;
  margin: 20px auto;
}
.embed-video iframe {
  max-width: 100%;
  margin-top: 5%;
}

.embed-video p {
  color: rgb(66, 65, 65);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 7%;
}

.embed-video p span {
  color: rgb(128, 128, 128);
  font-size: 0.85em;
}

.dennis-img img {
  max-width: 100%;
}

.dennis-img p {
  max-width: 100%;
  color: rgb(66, 65, 65);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.dennis-img p span {
  color: rgb(128, 128, 128);
  font-size: 0.85em;
}

.dennis-footer p {
  font-family: nyt-franklin, helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  width: calc(100% - 40px);
  max-width: 600px;
  color: rgb(102, 102, 102);
  margin: 1em 0;
}
.dennis-footer p a {
  color: rgb(102, 102, 102);
}

.dennis-footer button {
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 10px 80px;
  background-color: rgb(86, 123, 149);
  border: 0.5px solid rgb(50, 104, 145);
  border-radius: 3px;
  margin-top: 1.5%;
  float: left;
}

.dennis-footer ul {
  list-style: none;
  padding: 10px 0px;
  margin: 1.5% 3% 0;
  float: right;
}

.dennis-footer ul li {
  float: left;
  color: rgb(128, 128, 128);
  margin: -10px 20px;
  font-size: 1.3em;
}

.recommendation-section {
  max-width: 85%;
  margin: 0 auto;
  clear: both;
}
.recommendation-area {
  display: grid;
  gap: 5%;
  grid-template-areas:
    "more more more popular"
    "more more more popular"
    "editor-pick editor-pick editor-pick popular";
}

.more-in-space {
  grid-area: more;
}

.most-popular {
  grid-area: popular;
}
.editor-pick {
  grid-area: editor-pick;
  margin-top: -8%;
}

.more-in-space h4,
.editor-pick h4, .most-popular h3 {
  margin: 2% 0;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.article {
  width: 100%;
}

.article figure img {
  width: 100%;
  height: 100%;
}

.article figure figcaption {
  text-align: right;
  color: #999;
  font-family: sans-serif;
  font-size: 0.85em;
}
.article h3 {
  font-size: 1.125rem;
  color: rgb(18, 18, 18);
  font-family: sans-serif;
  margin: 4px 0;
}

.article p {
  text-align: left;
  color: #999;
  font-family: sans-serif;
  font-size: 0.85em;
}

.most-popular h3 {
  margin-top: 20px;
}

.most-popular hr {
  margin: 20px 0;
  border: 0.5px solid grey;
}

#most-popular li {
  line-height: 29px;

}
