* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

nav {
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  border-bottom: 1px solid #e2e2e2;
  height: 8%;
  padding: 8px 15px 3px;
  position: fixed;
  display: flex;
  justify-content: space-between;
  min-width: 100vw;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
}

nav ul li {
  padding: 0 10px;
  cursor: pointer;
}

ul a {
  text-decoration: none;
  text-transform: uppercase;
  font-weight: bold;
  color: black;
  cursor: default;
}

.offer a {
  text-decoration: none;
  color: rgb(74, 74, 141);
}

.editor-pick a {
  color: black;
  margin: 30px 10px;
  text-decoration: none;
  font-size: 13px;
}

.footer-title a {
  float: right;
  text-decoration: none;
  color: #6b6bdd;
}

.footer-end a {
  font-size: 13px;
  font-weight: 200;
  text-transform: initial;
}

.share a {
  cursor: pointer;
}

.article a {
  text-decoration: none;
}

ul a:hover {
  text-decoration: underline;
}

.nav-right {
  margin: 0 7px 0 0;
}

.nav-right button {
  color: white;
  background-color: #567b95;
  padding: 11px 10px;
  border-radius: 5px;
  border: none;
}

.hero h1 {
  color: #121212;
  font-family: nyt-cheltenham, georgia, "times new roman", times, serif;
  font-weight: 600;
  font-style: italic;
  font-size: 50px;
  line-height: 72px;
  margin-left: 15%;
  max-width: 900px;
}

.hero {
  margin-top: 7%;
}

.hero img {
  width: 80%;
  margin: 30px 10% 0;
}

.hero p {
  width: 80%;
  margin: 0 10%;
  font-size: 18px;
}

.hero span {
  color: #555454;
}

.dennis h4 {
  font-size: 20px;
  padding: 15px 0;
}

.dennis h4 a {
  color: black;
}

.dennis {
  width: 70%;
  margin: 20px 28%;
}

.share {
  padding: 20px 0;
}

.share ul {
  float: right;
}

footer ul li {
  list-style: none;
}

.footer-end li {
  padding: 0 20px;
}

.share ul li {
  display: inline;
  font-size: 15px;
  padding: 10px;
}

.share p {
  float: left;
  color: #464545;
}

.social {
  background-color: #e2e2e2;
  border-radius: 50%;
}

.container {
  display: flex;
}

.paragraph {
  clear: both;
}

.offer {
  text-align: center;
  padding: 10px 0;
}

aside hr {
  margin: 20px 0;
}

footer hr {
  margin: 20px 0;
}

.offer hr {
  width: 15%;
  margin: 20px auto;
}

aside {
  max-width: 29%;
  align-self: center;
  margin-left: 40px;
}

aside h5 {
  font-size: 20px;
}

.editor-pick img {
  padding: 15px 0;
  width: 23%;
}

.editor-pick {
  display: flex;
  margin: -6% 0;
}

.dennis-footer p a {
  color: #666;
}

.dennis-footer ul a {
  color: rgb(128, 128, 128);
  cursor: pointer;
}

.footer-end li a {
  font-size: 56%;
  font-weight: normal;
}

.editor-pick a:hover {
  text-decoration: underline;
}

.main-paragraph {
  margin-top: 30px;
  max-width: 650px;
}

.main-paragraph p {
  font-size: 1.2rem;
  line-height: 2rem;
  justify-content: center;
  margin: 10px 0;
  font-family: nyt-imperial, georgia, "times new roman", times, serif;
}

.grid-section {
  max-width: 70%;
  margin: 0 auto;
}

.grid-header p {
  color: rgb(109, 106, 106);
  font-size: small;
}

.grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  margin-top: 2%;
}

.dennis-img img {
  max-width: 100%;
}

.grid div img {
  max-width: 100%;
  height: 200px;
  margin: 0;
}

.embed-video p span {
  color: #808080;
  font-size: 0.85em;
}

.dennis-img p span {
  color: #808080;
  font-size: 0.85em;
}

.grid div p span {
  font-weight: bold;
}

.grid-footer {
  margin: 4% 0;
}

.grid-footer hr {
  max-width: 6%;
  border: 0.5px solid black;
  margin: 1% 0;
}

.grid-footer p {
  color: #292929;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.dennis-continue {
  width: 50%;
  margin: 20px auto;
}

.embed-video iframe {
  max-width: 100%;
  margin-top: 5%;
  border: none;
}

.embed-video p {
  color: #424141;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
  margin-bottom: 7%;
}

.dennis-img p {
  max-width: 100%;
  color: #424141;
  font-family: "Segoe UI", "Open Sans", "Helvetica Neue", sans-serif;
}

.dennis-footer p {
  font-family: helvetica, arial, sans-serif;
  font-size: 0.75rem;
  line-height: 1rem;
  width: calc(100% - 40px);
  max-width: 600px;
  color: #666;
  margin: 1em 0;
}

.dennis-footer button {
  color: white;
  font-family: sans-serif;
  text-transform: uppercase;
  padding: 10px 80px;
  background-color: #567b95;
  border: 0.5px solid rgb(50, 104, 145);
  border-radius: 3px;
  margin-top: 1.5%;
  float: left;
}

.dennis-footer ul {
  list-style: none;
  padding: 10px 0;
  margin: 1.5% 3% 0;
  float: right;
}

.dennis-footer ul li {
  float: left;
  color: rgb(128, 128, 128);
  margin: -10px 20px;
  font-size: 1.3em;
}

.recommendation-section {
  max-width: 85%;
  margin: 0 auto;
  clear: both;
}

.recommendation-section hr {
  margin: 50px 0 0;
}

.recommendation-area {
  display: grid;
  gap: 5%;
  grid-template-areas:
    "more more more popular"
    "more more more popular"
    "editor-pick editor-pick editor-pick popular";
}

.more-in-space {
  grid-area: more;
}

.most-popular {
  grid-area: popular;
}

.most-popular hr {
  margin: 50px 0 0;
}

.rec-editor-pick {
  grid-area: editor-pick;
  margin-top: -8%;
}

.more-in-space h4,
.rec-editor-pick h4,
.most-popular h3 {
  margin: 2% 0;
}

.articles {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 15px;
}

.article {
  width: 100%;
}

.article figure img {
  width: 100%;
  height: 100%;
}

.article figure figcaption {
  text-align: right;
  color: #999;
  font-family: sans-serif;
  font-size: 0.85em;
}

.most-popular h3 {
  margin-top: 20px;
}

.article a h3 {
  font-size: 1.125rem;
  color: rgb(18, 18, 18);
  font-family: sans-serif;
  margin: 4px 0;
}

.article p {
  text-align: left;
  color: #999;
  font-family: sans-serif;
  font-size: 0.85em;
}

#most-popular li {
  line-height: 29px;
  list-style: none;
  border-top: 1px solid rgb(167, 166, 166);
  margin: 20px 0;
}

#most-popular a {
  font-weight: 400;
  text-transform: capitalize;
}

.footer-container {
  width: 85%;
  margin: 11% auto 5%;
}

.footer-title {
  border-top: 6px double rgb(201, 201, 201);
  padding: 20px 0;
}

#footer-links {
  clear: right;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

#footer-links a {
  font-size: 13px;
  font-weight: 500;
  padding: 5px 0;
}

#footer-links .title {
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 10px;
}

.footer-end {
  margin-top: 20px;
  border-top: 0.5px solid gray;
  display: flex;
  justify-content: space-between;
}

.footer-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  border-top: 1px solid gray;
  min-width: 100%;
  height: 7%;
  background-color: white;
  display: inline-block;
  align-items: center;
  text-align: center;
}

.footer-nav p {
  margin: 10px 0 0;
}

.expand {
  display: flex;
  float: right;
  margin-right: 10%;
  margin-top: -1.2%;
}

.expand h5 {
  padding: 0 20px;
}
